* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80');
    background-size:cover ;
    background-position: center;
  }

  li{
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #d4e6e9;
    font-size: 1rem;
  }
  a:hover{
    color: orange;
  }
  /* HEADER */
  header{
    position: relative;
    padding: 0 2rem;
  }

  .navbar{
    width:100% ;
    height: 60px;
    max-width:1200px; ;
    margin:0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
 

  }

img{
    float: left;
    height: 30px;
    width:30px;
    margin: 1px 10px 0 0;
    color:#fff

  }

  .navbar .links{
    display: flex;
    gap:2rem;
  }

  .navbar .toggle_btn{
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }

  .navbar .toggle_btn:hover{
    color:orange;
  }

  .action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius:20px ;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }

  .action_btn:hover{
    scale: 1.05;
    color: #fff;
  }

  .action_btn:active{
    scale: 0.95;
  }

  /* DROPDOWN DESIGN */

  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top:60px;
    width:300px ;
    height: 0;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.dropdown_menu.open{
    height: 240px;
}

  .dropdown_menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown_menu .action_btn{
    display: flex;
    width: 100%;
    justify-content: center;
  }


  /* BODYPART */

.main_content{
    height: 500px;
    width:600px;
   text-align: center;
   top:200px;
   margin:0 auto;
   padding-top: 200px;
}

.main_content h1{
    margin-bottom: 20px;
    color: rgb(194, 193, 193);
}

.main_content p{
    font-weight: 600;
    font-family: Lucida Sans Unicode;
}
  /* RESPONSIVE DESIGN */
@media (max-width:992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width:576px){
    .dropdown_menu{
        left:2rem;
        width:unset;
    }
}
